.about-text-heading{font-weight: bolder; font-size: calc(55px + 4vw); margin: 0;font-family: "kelvinch-italic";}
.about-text-body{font-size: calc(20px + 0.3vw);}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.card img{
    width: 100%;
}

.contact-item{
    display: flex;
    align-items: center;
    gap: 30px;
}

.contact-item:hover{
    cursor: pointer;
}

.contact-item p {
    margin: 0;
    width: 0;
    font-size: 40px;
    overflow: hidden;   
    transition: width 0.3s ease-out;
    
}

.contact-item p:hover{
    color: #FFD700;
}

.contact-item img{
    width: 100px;
}

.contact-item-info{
    width: 0px;
}

.contact-item-info p{
    margin: 0;
    font-size: 40px;
}

.gallery-area{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    width: 100%;
    height: fit-content;
    grid-gap: 10px;
}

.gallery-area div, .gallery-area img{
    min-height: 450px;
    min-width: 500px;
    width: 100%;
    height: 100%;
    object-fit: cover;    
    object-position: 0% 20%;
    transition: filter 0.25s linear;
}

.gallery-area div, .gallery-area img:hover{
    filter: brightness(50%);
    cursor: pointer;
}

.generic-title{margin:20px 0px;font-size: calc( 50px + 1vw ); }


.parallax_single_cloud{
    transition: transform 400ms;
    width:40%;
    position:absolute;
    margin:auto;
    
}

.page_slide_up{
    transition: transform 1s;
    position: absolute;
    margin:auto;
}

.nav{
    opacity: 1;
    font-weight: bolder;
    z-index: 5;
    top:0;
    width:100vw;
    position: fixed;
    top:0;
    flex-basis: 40px;
    min-height: 40px;
    display:flex;
    align-items: center;
    justify-content:flex-end;

    color: white;
}

.nav-background{
    width: 100vw;
    height: 40px;
    min-height: 40px;
    position: fixed;
    z-index: 1;
    background-color: black;
    opacity: 0.55;
}



.nav-items{
    padding-right: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:50px;
    user-select: none;
}

.nav-button a:hover{
    color: #FFD700;
    cursor: pointer;
}

.nav-button a{
    color: white;
    text-decoration: none;
    transition: all 0.25s ease-in;
    padding: 10px;
    transition: color 0.25s linear;
}


.screen-section{
    width: 100%;
    height: 100vh;
    min-width: 500px;
}

.smooth-scroll{
    scroll-behavior: smooth;
}
