@font-face {
    font-family: "xangda";
    src: url("../fonts/XangdaShiny-l4AX.ttf");
}

@font-face {
    font-family: "monsterrat";
    src: url("../fonts/Montserrat-VariableFont_wght.ttf");
}